<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

    <!-- Bootstrap CSS -->
     <link rel= "stylesheet" type= "text/css" href= "style.css">
     <script src="three.min.js"></script>
    <script src="panolens.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.js"></script>
    <title>Live Streaming Demonstration</title>
</head>

<body>
  <script src="main.js"></script>
 <img src="stream.mjpg" width="0%" id="foto">
</body>
</html>
